<!doctype html>
<html class="no-js" lang="en">
@await Component.InvokeAsync("_DefaultHeadComponentPartial")
<body>

    <!-- preloader -->
    
    <!-- Scroll-top-end-->
    <!-- header-area -->
    @await Component.InvokeAsync("_DefaultHeaderViewComponentPartial")
    <!-- header-area-end -->
    <!-- main-area -->
    <main>

        <!-- slider-area -->
        @await Component.InvokeAsync("_DefaultSliderComponentPartial")
        <!-- slider-area-end -->
        <!-- booking-area -->
        <div class="booking-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        @await Component.InvokeAsync("_BookingTagPartialComponent")
                        @await Component.InvokeAsync("_BookingAreaPartialComponent")
                    </div>
                </div>
            </div>
        </div>
        <!-- booking-area-end -->
        <!-- features-area -->
        @await Component.InvokeAsync("_DefaultFeatureComponentPartial")
        <!-- features-area-end -->
        <!-- flight-offer-area -->
        @await Component.InvokeAsync("_DefaultfarofferPartialComponent")
        <!-- flight-offer-area-end -->
        <!-- destination-area -->
        @await Component.InvokeAsync("_DefaultDestinitionOfferComponentPartial")
        <!-- destination-area-end -->
        <!-- fly-next-area -->
        @await Component.InvokeAsync("_DefaultPopulerDestinationPartialComponent")
        <!-- fly-next-area-end -->
        <!-- brand-area -->
        @await Component.InvokeAsync("_DefaultFlightStatusPartialComponent")
        <!-- brand-area-end -->
        <!-- service-area -->
        @await Component.InvokeAsync("_DefaultServiceComponentPartial")

        @await Component.InvokeAsync("_DefaultFrequantlyAskedQuestionPartial")
        <!-- service-area-end -->
        <!-- blog-area -->
        <!-- blog-area-end -->

    </main>
    <!-- main-area-end -->
    <!-- footer-area -->
    @await Component.InvokeAsync("_DefaultFooterComponentPartial")
  <!-- footer-area-end -->
    <!-- JS here -->
    @await Component.InvokeAsync("_DefaultScriptComponentPartial")
</body>
</html>

