<section class="features-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="features-item">
                    <div class="features-icon">
                        <i class="flaticon-help"></i>
                    </div>
                    <div class="features-content">
                        <h6 class="title">7/24 Kesintisiz Destek</h6>
                        <p>Sorularınız ve bilgi almak için bizi arayın: +90 850 555 0 666</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="features-item">
                    <div class="features-icon">
                        <i class="flaticon-plane"></i>
                    </div>
                    <div class="features-content">
                        <h6 class="title">Uluslararası Uçuşlar</h6>
                        <p>Yurt dışı rezervasyon ve bilet işlemleri için: +90 850 555 0 666</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="features-item">
                    <div class="features-icon">
                        <i class="flaticon-money-back-guarantee"></i>
                    </div>
                    <div class="features-content">
                        <h6 class="title">Kolay İade ve Değişiklik</h6>
                        <p>Bilet iade veya değişiklik işlemleriniz için: +90 850 555 0 666</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>