<section class="slider-area">
    <div class="slider-active">
        <!-- Slide 01 -->
        <div class="single-slider slider-bg" data-background="/geair/assets/img/slider/slider_bg01.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10">
                        <div class="slider-content">
                            <h2 class="title" data-animation="fadeInUp" data-delay=".2s">Ömür Boyu İndirim mi? Bu Gerçekten Dahice!</h2>
                            <p data-animation="fadeInUp" data-delay=".4s">Seyahat ettikçe ödüller kazanın – Ücretsiz Geairinfo.com hesabı açarak anında %10 veya daha fazla tasarruf edin.</p>
                            <a href="contact.html" class="btn" data-animation="fadeInUp" data-delay=".6s">Giriş Yap / Üye Ol</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 02 -->
        <div class="single-slider slider-bg" data-background="/geair/assets/img/slider/slider_bg02.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10">
                        <div class="slider-content">
                            <h2 class="title" data-animation="fadeInUp" data-delay=".2s">Ömür Boyu İndirim mi? Bu Gerçekten Dahice!</h2>
                            <p data-animation="fadeInUp" data-delay=".4s">Seyahat ettikçe ödüller kazanın – Ücretsiz Geairinfo.com hesabı açarak anında %10 veya daha fazla tasarruf edin.</p>
                            <a href="contact.html" class="btn" data-animation="fadeInUp" data-delay=".6s">Giriş Yap / Üye Ol</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 03 -->
        <div class="single-slider slider-bg" data-background="/geair/assets/img/slider/slider_bg03.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10">
                        <div class="slider-content">
                            <h2 class="title" data-animation="fadeInUp" data-delay=".2s">Ömür Boyu İndirim mi? Bu Gerçekten Dahice!</h2>
                            <p data-animation="fadeInUp" data-delay=".4s">Seyahat ettikçe ödüller kazanın – Ücretsiz Geairinfo.com hesabı açarak anında %10 veya daha fazla tasarruf edin.</p>
                            <a href="contact.html" class="btn" data-animation="fadeInUp" data-delay=".6s">Giriş Yap / Üye Ol</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>