<div class="booking-tag">
    <ul>
        <li><a href="booking-list.html"><i class="flaticon-flight"></i>Flights</a></li>
        <li><a href="booking-list.html"><i class="flaticon-car-1"></i>Car Rentals</a></li>
        <li><a href="booking-list.html"><i class="flaticon-eiffel-tower"></i>Attractions</a></li>
        <li><a href="booking-list.html"><i class="flaticon-taxi"></i>Airport Taxis</a></li>
    </ul>
</div>