<section class="destination-area destination-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title">
                    <span class="sub-title">Ayrıcalıklı Fırsatlar</span>
                    <h2 class="title">Harika Rotaları Keşfedin</h2>
                </div>

                <div class="destination-content">
                    <p>Seyahat ettikçe kazanın – Ücretsiz bir <span>Geairinfo.com</span> hesabı oluşturarak anında %10 ve üzeri indirim fırsatlarını yakalayın.</p>

                    <ul>
                        <li>
                            <div class="counter-item">
                                <div class="counter-content">
                                    <h2 class="count"><span class="odometer" data-count="5830"></span>+</h2>
                                    <p>Mutlu Yolcu</p>
                                </div>
                                <div class="counter-icon">
                                    <i class="flaticon-group"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="counter-item">
                                <div class="counter-content">
                                    <h2 class="count"><span class="odometer" data-count="100"></span>%</h2>
                                    <p>Müşteri Memnuniyeti</p>
                                </div>
                                <div class="counter-icon">
                                    <i class="flaticon-globe"></i>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="content-bottom">
                        <p>En güncel teklifleri ve duyuruları inceleyin, seyahatinizi hemen planlamaya başlayın.</p>
                        <a href="contact.html">Bizimle İletişime Geçin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</section>